:root {
    
    --xtra-light-clr: #f6f0cb;
    --light-clr: rgb(200,180,140);
    --light-clr-gradiant: linear-gradient(22deg, rgba(138,106,57,1) 0%, rgba(223,216,174,1) 100%);
    --dark-clr: #191919;
    --color-a: #8a6a39;
    --color-b: #f6f0cb;
    --gold-clr: #ffdb51;
    --white-clr: #fff;
    --green-clr-1: #2e8b57;
    --green-clr-2: #04AA6D;
    --green-clr-3: #4FFFB0;

}

*, *::before, *::after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}

.dark-background {
    background-color: #191919;
}

.light-background {
    background-color: var(--light-clr-gradiant);
}


